<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagina2.css">
    <title>Campus Shop</title>
</head>
<body>
    <h1>CampusShop</h1>
    <h2>Todos los productos</h2>
    <h3>Abrigos</h3>
    <ul>
        <li>
            Abrigo 01
            <ul>
                <li>Pantalones</li>
                <li>$ 1.000</li>
                <li><button>Agregar</button></li>
            </ul>
        </li>
        <li>
            Abrigo 02
            <ul>
                <li><button>Agregar</button></li>
            </ul>
        </li>
        <li>Abrigo 03</li>
        <li>$ 2.500</li>
        <li>Abrigo 04</li>
        <li>$ 2.000</li>
        <li>Abrigo 05</li>
        <li>$ 2.000</li>
    </ul>
    <h3>Camisetas</h3>
    <h3>Carritos</h3>
    <ul>
        <li>2023 Camper</li>
    </ul>
</body>
</html>