<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagina1.css">
    <title>Document</title>
</head>
<body class="body">
    <header class="header">
        <div class="titulo">
            <p>foods</p>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">abouth</a>
                </li>
                <li>
                    <a href="#">menu</a>
                </li>
                <li>
                    <a href="#">service</a>
                </li>
                <li>
                    <a href="#">contact</a>
                </li>
            </ul>
        </div>

    </header>
    <div class="container1">
        <section class="left">
            <h1>full website</h1>
            <p>foods the most precious thing</p>
            <button>today's menu</button>

        </section>
        <section class="rigth">
            <img src="../storage/img/home (1).png" alt="">

        </section>
    </div>
</body>
</html>